.color-picker {
  background-color: $color-grey-100;
  padding: 32px;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 16px;
  
  @media (max-width: $s) {
    padding: 24px;
  }
  @media (max-width: $xss) {
    padding: 16px;
  }

  &__tabs {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 32px;
  }

  &__box {
    background-color: $color-white;
    padding: 4px;
    border-radius: 24px;
  }

  &__tab {
    padding: 8px 12px;
    border-radius: 24px;
    @include fontSize(14, 16);
    font-weight: 500;
    color: $color-grey-500;
    transition: background-color 0.3s ease;

    @media (max-width: $xss) {
      padding: 8px 12px;
      @include fontSize(12, 16);
    }
    @media (max-width: 320px) {
      padding: 8px 8px;
      @include fontSize(10, 16);
    }

    &:hover {
      background-color: $color-grey-100;
    }

    &.active {
      background-color: $color-blue-900;
      color: $color-white;
    }

    &+& {
      margin-left: 8px;
    }
  }

  
}
