<template lang="pug">
  a.guide-card(href='/01.svg' download)   
    .guide-card__background-color 
    .guide-card__top
      svg-icon.guide-card__guide(name="guide")
      svg-icon.guide-card__icon(name="arrow-up-right")
    .guide-card__bottom 
      p.guide-card__name Название решения
</template>

<script>
export default {
  computed: {
    
  }
}
</script>

<style src='./guide-card.scss' lang="scss">

</style>