<template lang="pug">
  .accordion
    .accordion__head(@click="toogleDropdown")
      .accordion__header
        .accordion__title(:class='{"active": dropdownOpened}') Менеджер по продажам
        .accordion__subtitle Москва
      .accordion__icon
        svg-icon.accordion__icon-shevron(v-if="!dropdownOpened" name='plus')
        svg-icon.accordion__icon-shevron(v-if="dropdownOpened" name='minus')    
    .accordion__body(v-show-slide:500:example-easing="dropdownOpened")
      .accordion__wysiwyg
        Wysiwyg
      a.accordion__link(href="https://hh.ru/" target='_blank') Откликнуться
</template>

<script>
export default {
  data() {
    return {
      dropdownOpened: false
    }
  },
  methods: {
    toogleDropdown() {
      this.dropdownOpened = !this.dropdownOpened
    },
  },
}
</script>

<style lang="scss">
@import '../Accordion/accordion';
</style>