.product-main {
  background-color: $color-grey-100;
  padding: 40px;

  @media (max-width: $m) {
    padding: 40px 32px;
  }
  @media (max-width: $s) {
    padding: 40px 24px;
  }
  @media (max-width: $xss) {
    padding: 40px 16px;
  }

  &__title {
    color: $color-grey-900;
    @include fontSize(64, 72);
    font-weight: 600;
    margin: 0;
    margin-bottom: 24px;

    @media (max-width: $m) {
      @include fontSize(56, 64);
    }
    @media (max-width: $s) {
      @include fontSize(40, 48);
    }
    @media (max-width: $xss) {
      @include fontSize(28, 36);
      margin-bottom: 16px;
    }
  }

  &__containers {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    width: 411px !important;
    margin-left: 40px;

    @media (max-width: $l) {
      width: 339px !important;
    }
    @media (max-width: $m) {
      width: 366px !important;
      margin-left: 32px;
    }
    @media (max-width: $s) {
      width: 100% !important;
      margin-top: 24px;

      margin-left: 0;
    }
  }

  &__filters {
    @media (max-width: $s) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 8px;
    }
    @media (max-width: $xss) {
      display: grid;
      grid-template-columns: 1fr;
      gap: 8px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    @media (max-width: $s) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    mix-blend-mode: multiply;
  }

  &__button-container {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  &__button {
    width: 100%;
    background-color: $color-blue-700;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    color: $color-grey-0;
    @include fontSize(18, 24);
    font-weight: 500;
    margin-top: 40px;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: $color-blue-900;
    }

    @media (max-width: $s) {
      width: 256px;
      margin-top: 32px;
    }
    @media (max-width: $xss) {
      width: 100%;
      margin-top: 24px;
    }
  }

  &__area {
    transition: all 0.3s ease;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    // background: rgba($color-grey-900, 0.25);
    // background: $color-grey-300;
    background-color: rgba(0, 0, 0, 0.32);
    opacity: 0;
    visibility: hidden;

    &.active {
      opacity: 1;
      visibility: visible;
    }
  }

  &__sidebar {
    transition: all 0.3s ease;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    max-width: 40rem;
    transform: translateX(100%);
    height: calc(var(--vh, 1vh) * 100);
    background: $color-grey-0;
    z-index: 100;
    display: flex;
    flex-flow: column nowrap;

    &.active {
      transform: translateX(0);
    }
  }
}
