<template lang="pug">
.product-main
  Breadcrumbs.is-product(:data="breadcrumbs" type='is-alt')
  .container
    h1.product-main__title Стеновые сэндвич-панели
    .product-main__content
      .product-main__images
        img.product-main__image(src='/product.png')
        img.product-main__blueprint(src='/blueprint.png')
      .product-main__containers
        .product-main__filters
          FliterItem(v-for="filter in filters" :key="filter.id" :data='filter' @click.native='openFilters(filter.value)')
        .product-main__button-container
          button.product-main__button Сделать расчёт
    .product-main__sidebar(:class='{"active": sidebarOpened}')
      FilterSidebar
    .product-main__area(:class='{"active": sidebarOpened}' @click='closeFilters')
</template>

<script>
export default {
  props: ['breadcrumbs'],
  data() {
    return {
      sidebarOpened: false,
      filters: [
        {
          image: '/filter-item-1.svg',
          name: 'Вид профиля',
          value: 'Микроволна',
        },
        {
          image: '/filter-item-2.svg',
          name: 'Толщина металла',
          value: '0,4 мм',
        },
        {
          color: '#B7D1F9',
          name: 'Наполнитель',
          value: 'Пенополистирол',
        },
        {
          color: '#E8540D',
          name: 'Цвет',
          value: 'RAL2004',
        },
      ],
    }
  },
  methods: {
    openFilters(value) {
      this.sidebarOpened = true
      document.querySelector('body').classList.add('fixed')
      console.log(value);
    },
    closeFilters() {
      this.sidebarOpened = false
      document.querySelector('body').classList.remove('fixed')
    }
  },
  mounted() {
    this.$nuxt.$on('closeFilters', this.closeFilters)
  },
}
</script>

<style src='./product-main.scss' lang="scss">
</style>