.two-letters {
  display: flex;
  align-items: center;
  &__icon {
    display: flex;
    width: 3.2rem;
    height: 3.2rem;
    &.icon {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    @include fontSize(14, 20);
    font-weight: 400;
    color: $color-grey-500;
    margin-left: 12px;
  }
}
