<template lang="pug">
  a.two-letters(href='https://dvebukvy.ru/' target='_blank')
    .two-letters__icon
      svg-icon(name='dvebukvy')
    .two-letters__text Сделано в дизайн-бюро «Две буквы»
</template>

<style src="./two-letters.scss" lang="scss">

</style>