<template lang="pug">
.page__content
  Breadcrumbs(:data="breadcrumbs")
  Headline(underline='Контентная страница (H1)' :content='content')
  .container
    Section(title="Описание (H2)")
      Description        
    Section(title="Слайдер решений (H2)")
      SolutionsSlider
    Section(title="Слайдер продукции (H2)")
      ProductsSlider
    Section(title="Преимущества (H2)")
      Advantages(:advantages='advantages')  
    Section(title="Фотогалерея (H2)")
  .container.is-gallery
    GallerySlider
  .container
    Section(title="Таблица с табами (H2)")
  .container.is-gallery
    Table
  .container
    Section(title="Документация (H2)")
      FilesSlider
    Section(title="Описание с фичами (H2)")
      DescriptionFeatures
    Section(title="Видеопрезентация (H2)")
      VideoCard
    Section(title="Условия сотрудничества (H2)")
      Conditions
      .wysiwyg
        <blockquote>Мы ищем надёжное сотрудничество на долгие годы и рады рассмотреть встречные предложения!</blockquote>
  .container
    Section.normal
      Features      
</template>

<script>
export default {
  data() {
    return {
      content: ['На контентной странице представлены стандартные блоки, которые администратор может использоваться с целью самостоятельной сборки какой-либо страницы', 'На контентной странице представлены стандартные блоки, которые администратор может использоваться с целью самостоятельной сборки какой-либо страницы'],
      advantages: [
        {
          icon: '/fire.svg',
          text: 'Помогаем в проектировании  и применении готовых решений',
        },
        {
          icon: '/fire.svg',
          text: 'Консультируем по особенностям применения сэндвич-панелей и их монтажу;',
        },
        {
          icon: '/fire.svg',
          text: 'Помогаем во время реализации проекта и оперативно решаем возникающих вопросов',
        },
        {
          icon: '/fire.svg',
          text: 'Предоставляем нормативную базу для сдачи объекта и ввода его в эксплуатацию',
        },
        {
          icon: '/fire.svg',
          text: 'Сопровождаем проект от подачи заявки до заключения договора, если он участвует в торгах;',
        },
        {
          icon: '/fire.svg',
          text: 'Сопровождение специалистами сделок по производству сэндвич-панелей',
        },
      ],
    }
  },
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'Контентная страница',          
        },
      ]
      
      return breadcrumbs
    },
  },
}
</script>