<template lang="pug">
  .conditions        
    .conditions__content
      p.conditions__text Для заключения и поддержания взаимовыгодных отношений приглашаем к сотрудничеству на долгосрочной основе:
      ul.conditions__list
        li.conditions__item строительные организации;
        li.conditions__item проектные институты;
        li.conditions__item проектные организации;
        li.conditions__item специалистов-проектировщиков.
</template>

<style lang='scss' src='./conditions.scss'></style>