.filter-sidebar {
  padding: 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__title {
    color: $color-grey-900;
    @include fontSize(24, 32);
    font-weight: 500;
  }

  &__button {
    width: 100%;
    background-color: $color-blue-700;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    color: $color-grey-0;
    @include fontSize(18, 24);
    font-weight: 500;
    margin-top: 40px;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: $color-blue-900;
    }

    
  }










  &__icon {
    width: 16px;
    height: 16px;
  }
}
