.partners {
  width: 100%;
  display: flex;
  flex-direction: column;
  &__grid {
    margin-bottom: 48px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 48px;

    @media (max-width: $xss) {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr;
    }

    &.small {
      grid-template-rows: 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;

      @media (max-width: $xss) {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
      }
    }
  }

  &__item {
    // width: fit-content;
    // width: 300px;

    // @media (max-width: $l) {
    //   width: 246px;
    // }
    // @media (max-width: $m) {
    //   width: 202px;
    // }
    // @media (max-width: $s) {
    //   width: 122px;
    // }
    // @media (max-width: $xss) {
    //   width: 248px;
    // }
    // @media (max-width: $xs) {
    //   width: 120px;
    // }
  }

  &__text {
    color: $color-grey-900;
    @include fontSize(18, 28);
    font-weight: 400;
    margin-bottom: 48px;
  }
}
