.filter-selector {
  $this: &;
  padding: 16px;
  background-color: $color-grey-100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: 2px solid $color-grey-100;
  transition: border 0.3s ease;

  &.active {
    border: 2px solid $color-blue-700;
    & .checkbox__box {
      &::before {
        content: '';
        width: 12px;
        height: 12px;
        position: absolute;
        background-color: $color-blue-700;
        border-radius: 12px;
        top: 5px;
        left: 5px;
      }
    }
  }
  & + & {
    margin-top: 8px;
  }

  &__container {
    display: flex;
    align-items: center;
  }

  &__image {
    width: 48px;
    height: 48px;
  }

  &__color {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  &__value {
    margin-left: 16px;
    color: $color-grey-900;
    @include fontSize(16, 24);
    font-weight: 500;
  }
}

.checkbox {
  position: relative;
  display: inline-grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1.2rem;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // flex-direction: row-reverse;
  cursor: pointer;

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);

  

  &__box {
    transition: background .3s ease, border .3s ease;
    width: 24px;
    height: 24px;
    border: 1px solid $color-grey-300;
    background-position: center;
    background-color: $color-grey-0;
    border-radius: 12px;
    position: relative;
  }

  &:hover .checkbox__box {
    border-color: $color-grey-400;
  }

  &__tag {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;

    // &:checked {
      
    //   + .checkbox__box {
    //     border-color: transparent;
    //     &::before {
    //       content: '';
    //       width: 12px;
    //       height: 12px;
    //       position: absolute;
    //       background-color: $color-blue-700;
    //       border-radius: 12px;
    //       top: 5px;
    //       left: 5px;
    //     }
        
    //   }
    // }

    &:disabled {
      + .checkbox__box {
        filter: grayscale(1);
        cursor: not-allowed;
      }
    }
  }

  span {    

    color: $color-grey-900;
    user-select: none;
  }  
}