<template lang="pug">
.main-slider(data-delay='4000', style='--slider-delay: 4000ms') 
  .main-slider__container(ref='container')
    .main-slider__wrapper
      .main-slider__slide
        .container
          .main-slider__content 
            h1.main-slider__title Производим сэндвич-панели <br> <i class='main-slider__subtitle'>для производственных помещений</i>
        img.main-slider__image(src='/main-slider.jpg')
      .main-slider__slide
        .container
          .main-slider__content 
            h1.main-slider__title Производство панелей <br> <i class='main-slider__subtitle'>для производственных помещений</i>
        img.main-slider__image(src='/main-slider2.jpg') 
      .main-slider__slide
        .container
          .main-slider__content 
            h1.main-slider__title Производим сэндвич-панели <br> <i class='main-slider__subtitle'>для помещений</i>
        img.main-slider__image(src='/main-slider.jpg')      
  .main-slider__controls
    .container(style='padding-left: 0;')
      .main-slider__inner
        button.main-slider__next(
          type='button',
          title='Следующий слайд',
          ref='main__next'
        )
          svg-icon.main-slider__icon(name='arrow') 
        .main-slider__progress 
          .wrapper
            .pie.spinner.spinner-animated
            .pie.filler.filler-animated
            .mask.mask-animated
</template>

<script>
import Swiper, {
  Navigation,
  Pagination,
  EffectFade,
  Parallax,
  Autoplay,
} from 'swiper'
Swiper.use([Navigation, Pagination, EffectFade, Parallax, Autoplay])
export default {  
  methods: {
    initMainSlider() {
      const swiper = new Swiper(this.$refs.container, {
        wrapperClass: 'main-slider__wrapper',
        slideClass: 'main-slider__slide',
        effect: 'fade',
        loop: true,
        parallax: true,
        speed: 300,
        
        autoplay: {
          delay: 8000,
          disableOnInteraction: false
        },
        pagination: {
          el: '.main-slider__paginations',
          type: 'bullets',
        },
        navigation: {
          nextEl: this.$refs.main__next,
        },
      })      

      swiper.on('slideChange', () => {
        document.querySelector('.spinner').classList.remove('spinner-animated')
        setTimeout(() => {
          document.querySelector('.spinner').classList.add('spinner-animated')
        }, 0)        

        document.querySelector('.filler').classList.remove('filler-animated')
        setTimeout(() => {
          document.querySelector('.filler').classList.add('filler-animated')
        }, 0)

        document.querySelector('.mask').classList.remove('mask-animated')
        setTimeout(() => {
          document.querySelector('.mask').classList.add('mask-animated')
        }, 0)
      })
    },
  },
  mounted() {
    this.initMainSlider()
  },  
}
</script>

<style lang='scss' >
@import '~swiper/swiper';
@import 'main-slider';
</style>