<template lang="pug">
nuxt-link.service-card(to='/')
  img.service-card__image(src='/service-2.png')
  .service-card__background-color
  .service-card__top
    svg-icon.service-card__icon(name='arrow-up-right')
  .service-card__bottom
    p.service-card__title Раскладка сэндвич-панелей
  .service-card__hover
    p.service-card__title Название решения
    p.service-card__text В Московском регионе, где сосредоточено много крупных и небольших компаний, производственные помещения являются востребованным продуктом, и некоторые виды таких объектов являются наиболее востребованными бизнес-сообществом.
</template>



<style src='./service-card.scss' lang="scss">
</style>