.service-card {
  $this: &;
  width: 100%;
  height: 464px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 24px;
  overflow: hidden;
  // background-color: $color-blue-900;

  @media (max-width: $l) {
    height: 392px;
  }
  @media (max-width: $m) {
    height: 328px;
  }
  @media (max-width: $s) {
    height: 316px;
    padding: 16px;
  }
  @media (max-width: $xss) {
    height: 288px;
  }

  &:hover {    
    #{$this}__hover {
      opacity: 1;
      transform: translateY(0);
    }
    #{$this}__background-color {
      transform: translateY(0);
      opacity: 1;
    }
    #{$this}__bottom {
      opacity: 0;
      transform: translateY(-96px);
    }  
    #{$this}__icon {      
      transform: translate(8px, -8px);
    }
  }

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    transition: opacity 0.3s ease-in;
    filter: brightness(68%);
  }

  &__background-color {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 0;
    opacity: 0;
    background-color: $color-blue-900;
    transform: translateY(100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  &__top {
    z-index: 2;
    display: flex;
    justify-content: flex-end;
  }

  &__bottom {
    z-index: 2;
    display: flex;
    transition: opacity 0.2s ease, transform 0.5s ease;
  }

  &__title {
    color: $color-grey-0;
    @include fontSize(24, 32);
    font-weight: 500;
    text-decoration: underline;
    text-underline-offset: 2px;
  }

  &__icon {
    width: 32px;
    height: 32px;
    fill: $color-white;
    transition: transform 0.5s ease;
  }

  &__text {
    color: $color-grey-0;
    @include fontSize(16, 24);
    font-weight: 400;
    margin-top: 16px;       

    @media (max-width: $xss) {
      max-height: 128px;
    }    
  }

  &__hover {
    z-index: 2;
    opacity: 0;
    position: absolute;
    bottom: 24px;
    transition: opacity 0.6s ease, transform 0.6s ease;
    overflow: hidden;
    transform: translateY(100%);
    
    @media (max-width: $s) {      
      bottom: 16px;
    }
  }
}