<template lang='pug'>
.characteristics
  ul.characteristics__list
    li.characteristics__item
      p.characteristics__text Тип товара
      p.characteristics__text Стеновые сэндвич-панели
    li.characteristics__item
      p.characteristics__text Вид профиля
      p.characteristics__text Микроволна
    li.characteristics__item
      p.characteristics__text Наполнитель
      p.characteristics__text Пенополистирол
    li.characteristics__item
      p.characteristics__text Толщина металла
      p.characteristics__text 0,4 мм
    li.characteristics__item
      p.characteristics__text Цвет
      p.characteristics__text RAL2004
    
    
</template>



<style lang='scss' src='./characteristics.scss'>
</style>