<template lang="pug">
.page__content
  .container-header
    SectionHeader(:breadcrumbs='breadcrumbs', title='Упаковка сэндвич-панелей', image='/service-1.png')
  .container
    Wysiwyg.container-small
  .container.padding-top  
    FormFeedback  
</template>

<script>
export default {
  data() {
    return {
      
    }
  },  
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'Услуги',          
          url: '/services',          
        },
        {
          title: 'Упаковка сэндвич-панелей',         
        },
      ]
      
      return breadcrumbs
    },
  },
}
</script>