<template lang="pug">
  .advantages
    .advantages__solutions
      .advantages__solution(v-for="advantage in advantages" :key="advantage.id")
        img.advantages__icon(:src='advantage.icon')
        p.advantages__text {{advantage.text}}      
</template>

<script>
export default {
  props: ['advantages']
}
</script>

<style src='./advantages.scss' lang="scss">

</style>