<template lang="pug">
.video-card  
  img.video-card__image(src='/video.png', v-if='videoVisible')
  .video-card__container(v-if='videoVisible')
    .video-card__button(@click='showVideo')
      svg-icon.video-card__icon(name='play')
  iframe.video-card__frame(
    v-if='!videoVisible'
    width='100%',
    height='100%',
    src='https://www.youtube.com/embed/YAWt-gktZqM?autoplay=1&mute=1',
    title='YouTube video player',
    frameborder='0',
    allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture',
    allowfullscreen,
    controls='0',
    modestbranding='1'
  )
</template>

<script>
export default {
  data() {
    return {
      videoVisible: true,
    }
  },
  methods: {
    showVideo() {
      this.videoVisible = false      
    },    
  },
}
</script>

<style src='./video-card.scss' lang="scss">
</style>