.video-card {
  width: 100%;
  // height: 624px;
  position: relative;

  aspect-ratio: 16 / 9;

  // @media (max-width: $l) {
  //   height: 524px;
  // }
  // @media (max-width: $m) {
  //   height: 556px;
  // }
  // @media (max-width: $s) {
  //   height: 536px;
  // }
  // @media (max-width: $xss) {
  //   height: 356px;
  // }
  // @media (max-width: $xs) {
  //   height: 162px;
  // }

  // &.main {
  //   height: 784px;

  //   @media (max-width: $l) {
  //     height: 662px;
  //   }
  //   @media (max-width: $m) {
  //     height: 556px;
  //   }
  //   @media (max-width: $s) {
  //     height: 356px;
  //   }
  //   @media (max-width: $xss) {
  //     height: 306px;
  //   }
  //   @media (max-width: $xs) {
  //     height: 162px;
  //   }
  // }

  &__frame {
    width: 100%;
    height: 100%;

    & .ytp-chrome-top.ytp-show-cards-title {
      display: none;
    }
  }

  &__container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
  }

  &__image {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    filter: brightness(68%);
  }

  &__button {
    width: 96px;
    height: 96px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-grey-100;
    border-radius: 100%;
    cursor: pointer;
    pointer-events: all;
    &:hover {
      & .video-card__icon {
        fill: $color-blue-700;
      }
    }
  }

  &__icon {
    // width: 29px;
    // height: 32px;
    // fill: $color-grey-900;
    // margin-left:8px;
    width: 32px;
    height: 32px;
    fill: $color-grey-900;
    // margin-left:8px;
  }
}

// img, input[type="image"], video, embed, iframe, marquee, object, table {
//   aspect-ratio: attr(width) / attr(height);
// }
