.form-feedback {
  $this: &;
  background-color: $color-grey-100;
  padding: 48px 40px;
  display: flex;
  flex-direction: column;

  @media (max-width: $m) {
    padding: 40px;
  }
  @media (max-width: $s) {
    padding: 32px;
  }
  @media (max-width: $xs) {
    padding: 16px;
  }

  &__headers {
    margin-bottom: 40px;
  }

  &__title {
    @include fontSize(32, 40);
    font-weight: 600;
    color: $color-grey-900;
    

    @media (max-width: $m) {
      @include fontSize(28, 32);
    }
  }

  &__subtitle {
    @include fontSize(18, 32);
    font-weight: 400;
    color: $color-grey-900;
    margin-top: 16px;
  }

  &__inputs {
    width: 640px;

    @media (max-width: $m) {
      width: 608px;
    }
    @media (max-width: $s) {
      width: 100%;
    }
  }

  &__input {
    width: 100%;
    height: 56px;
    padding: 16px;

    color: $color-grey-900;
    @include fontSize(18, 24);
    font-weight: 400;
    border: 1px solid $color-grey-300;

    &::placeholder {
      color: $color-grey-500;
    }

    &:focus {
      outline: 1px solid $color-blue-700;
    }

    & + & {
      margin-top: 8px;
    }

    &.area {
      height: 128px;
    }
  }

  &__file {
    width: 2.4rem;
    height: 2.4rem;
    stroke: $color-blue-700;
    stroke-width: 2;
    stroke-linecap: square;
    transition: stroke 0.3s ease;
  }
  

  &__insert {
    margin-top: 24px;
    align-items: center;
    position: relative;

    &:hover {
      #{$this}__span {
        &.blue {
          color: $color-blue-900;
        }
      }
      #{$this}__file {
        stroke: $color-blue-900;
      }
    }
    

    input {      
      width: 100%;
      height: 100%;
      opacity: 0;
      left: 0;
      top: 0;
      position: absolute;
    }

    &.success {
      justify-content: center;
      // background-color: #226b2c;
    }
  }

  &__span {
    margin-left: 8px;
    color: $color-grey-900;
    @include fontSize(16, 24);
    font-weight: 400;
    transition: color 0.3s ease;

    &.blue {
      color: $color-blue-700;
      font-weight: 500;
    }
  }

  &__loader {
    width: 20px;
    height: 20px;
  }

  &__error {
    color: $color-error;
    @include fontSize(14, 20);
    font-weight: 400;
    margin-top: 12px;
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;

    @media (max-width: $s) {
      flex-direction: column;   
      margin-top: 32px;   
      align-items: flex-start;
    }
    @media (max-width: $xs) {      
      margin-top: 24px;   
    }
  }

  &__button {
    width: 256px;
    flex-shrink: 0;
    height: 56px;
    background-color: $color-blue-700;
    color: $color-white;
    @include fontSize(18, 24);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 24px;
    transition: background-color 0.3s ease;

    &:hover{
      background-color: $color-blue-900;
    }

    @media (max-width: $s) {
      margin-right: 0;
      margin-bottom: 16px;
      width: 100%;    
    }
  }

  &__policy {
    color: $color-grey-500;
    @include fontSize(16, 24);
    font-weight: 400;

    &.underline {
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
}
