<template lang="pug">
  nuxt-link.product-card(to='/')    
    .product-card__top
      p.product-card__name Стеновые сэндвич-панели
      svg-icon.product-card__icon(name="arrow-up-right")
    .product-card__bottom
      .product-card__image(v-html="icon")
</template>

<script>
export default {
  data() {
    return {
      icon: '<svg width="384" height="313" viewBox="0 0 384 313" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M27.4285 1H356.571L364.408 16.6735V35.4135L366.237 40.1837H372.245L380.082 55.8571V377.163H364.408L356.571 385H340.898L333.061 377.163H207.673L199.837 385H184.163L176.327 377.163H50.9387L43.102 385H27.4285L19.5918 377.163H3.91833V55.8571L11.7551 40.1837H17.7632L19.5918 35.4135V16.6735L27.4285 1Z" fill="#D4EFFC" stroke="#0C74DD" stroke-opacity="0.75" stroke-width="2" stroke-linejoin="round"/><path d="M27.4285 1H356.571L364.408 16.6735V377.163H19.5918V16.6735L27.4285 1Z" fill="#D4EFFC" stroke="#0C74DD" stroke-opacity="0.75" stroke-linejoin="round"/><path d="M26.7755 16.6733H357.225L372.245 55.857V330.143H11.7551V55.857L26.7755 16.6733Z" fill="#CCE5F2" stroke="#0C74DD" stroke-opacity="0.75" stroke-linejoin="round"/><path d="M11.7551 40.1836H372.245L380.082 55.8571V361.49H3.91833V55.8571L11.7551 40.1836Z" fill="#D4EFFC" stroke="#0C74DD" stroke-opacity="0.75" stroke-linejoin="round"/><path d="M3.91833 55.8569H19.5918L27.4285 63.6937H43.102L50.9387 55.8569H176.327L184.163 63.6937H199.837L207.673 55.8569H333.061L340.898 63.6937H356.571L364.408 55.8569H380.082V377.163H364.408L356.571 385H340.898L333.061 377.163H207.673L199.837 385H184.163L176.327 377.163H50.9387L43.102 385H27.4285L19.5918 377.163H3.91833V55.8569Z" fill="#D4EFFC" stroke="#0C74DD" stroke-opacity="0.75" stroke-linejoin="round"/><rect x="27.4286" y="63.6938" width="15.6735" height="321.306" fill="#D4EFFC" stroke="#0C74DD" stroke-opacity="0.75" stroke-linejoin="round"/><rect x="340.898" y="63.6938" width="15.6735" height="321.306" fill="#D4EFFC" stroke="#0C74DD" stroke-opacity="0.75" stroke-linejoin="round"/><rect x="184.163" y="63.6938" width="15.6735" height="321.306" fill="#D4EFFC" stroke="#0C74DD" stroke-opacity="0.75" stroke-linejoin="round"/></svg>'
    }
  },
}
</script>

<style src='./product-card.scss' lang="scss">

</style>