.colors-slider {
  position: relative;  
  z-index: 1;


  

  &__container {
    overflow: hidden;
    // position: relative;

    &.is-thumb {
      display: flex;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin-bottom: 24px;

      @media (max-width: $xss) {
        display: none;
      }
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    // justify-content: center;
    overflow: hidden;
    width: 100% !important;
  }

  &__slide {
    position: relative;
    flex-shrink: 0;
    z-index: -1;
    display: flex;
    flex-direction: column;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    background-color: $color-grey-100; 
    


    
    // width: 1048px !important;

    // @media (max-width: $l) {
    //   width: 868px !important;
    // }
    
    // @media (max-width: $m) {
    //   width: 884px !important;
      
    // }
    // @media (max-width: $s) {
    //   width: 584px !important;
      
    // }
    // @media (max-width: $xss) {
    //   width: 100% !important;
      
    // }

    &.swiper-slide-active {
      opacity: 1;
      z-index: 5;
      pointer-events: all;
      
    }
  }

  &__cover {    
    background-color: $color-grey-100;
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 1048px;
    height: 348px;
    // object-fit: contain;  

    

    @media (max-width: $l) {
      // width: 868px;
      height: 288px;
    }
    @media (max-width: $m) {
      // width: 884px;
      height: 294px;
    }
    @media (max-width: $s) {
      // width: 584px;
      height: 194px;
    }
    @media (max-width: $xss) {
      // width: 288px;
      height: 144px;
    }
  }

  &__img {
    mix-blend-mode: multiply;    
    object-fit: contain;
    width: 100%;  
    height: 100%;
  }

  &__color {
    width: 32px;
    height: 32px;
  }

  &__thumbs {
    display: flex;
    // width: 100%;
    justify-content: center;
    align-items: center;
    height: 40px;
    overflow: hidden;
    padding: 0 16px;
  }

  &__thumbs-slide {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    width: 32px;
    height: 32px;
    // background-color: red;
    border-radius: 50%;
    transition: ease border-color 0.3s;
    z-index: 4;
    position: relative;

    & + & {
      margin-left: 8px;
    }

    &.swiper-slide-thumb-active {
      position: relative;
      z-index: 3;
      &::before {
        content: '';
        position: absolute;
        width: 38px;
        height: 38px;
        border: 1px solid $color-blue-900;
        border-radius: 50%;
        z-index: 1;
      }
    }
  }

  &__next,
  &__prev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    z-index: 20;
    outline: none;
    opacity: 1;
    pointer-events: all; 
  }

  &__icon {
    width: 1.8rem;
    height: 1.2rem;
    fill: $color-grey-900;

    &.prev {
      transform: rotateY(180deg);
    }
  }

  &__title {
    margin-top: 24px;
    @include fontSize(24, 32);
    font-weight: 500;
    color: $color-grey-900;

    @media (max-width: $xss) {
      margin-top: 0;
      margin-left: 8px;
      &.mobile {
        display: none;
      }
    }
  }
  &__subtitle {
    margin-top: 8px;
    @include fontSize(14, 20);
    font-weight: 400;
    color: $color-grey-500;

    @media (max-width: $xss) {
      display: none;
    }
  }

  &__box {
    margin-top: 24px;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media (max-width: $xss) {
      display: flex;
    }
  }

  &__controls {
    position: absolute;
    display: none;
    justify-content: space-between;
    width: 100%;
    bottom: 0;
    left: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;

    @media (max-width: $xss) {
      display: flex;
    }
  }

  &__cont {
    display: flex;
    position: relative;
    // justify-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 24px;

    @media (max-width: $xss) {
      display: none;
    }
  }  
}

.swiper {
  width: 100%;
  overflow: hidden;
  display: flex;
  height: 38px;
  position: relative;
}

.swiper-slide {  
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide {
  background-size: cover;
  background-position: center;  
}

.mySwiper {
  height: 20%;  
  box-sizing: border-box;
  padding: 10px 5px;
}

.mySwiper .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 32px !important;
  border-radius: 50%;
  transition: ease border-color 0.3s;
  z-index: 4;
  position: relative;
}

.mySwiper .swiper-slide-thumb-active {
  position: relative;
  z-index: 3;
  &::before {
    content: '';
    position: absolute;
    width: 38px;
    height: 38px;
    border: 1px solid $color-blue-900;
    border-radius: 50%;
    z-index: 1;
  }
}

.swiper-wrapper {
  
}