<template lang="pug">
section.section-header
  img.section-header__image(:src='image')
  .container.is-section-header
    .section-header__content
      Breadcrumbs(:data='breadcrumbs' type='white')
      .section-header__container
        h1.section-header__title {{title}}
        .section-header__objects(v-if="objects") {{objects}}
        .section-header__contacts(v-if="path === '/contacts'")
          .section-header__item
            p.section-header__text Россия, 196006 (юр. 196084), г. Санкт-Петербург, Лиговский пр-т, д. 266 лит. В, оф. 6.4
            p.section-header__link(@click='onMap([59.819647, 30.509783])') Показать на карте
          .section-header__item
            p.section-header__text +7 (812) 493-34-98
            p.section-header__text +7 (812) 913-78-20
          .section-header__item
            p.section-header__text op@selem.ru

  
</template>

<script>
export default {
  props: ['breadcrumbs', 'title', 'image', 'objects'],
  methods: {
    onMap(coords) {
      this.$nuxt.$emit('mapPanTo', coords)
    }
  },
  computed: {
    path() {
      return this.$route.fullPath
    },
  }
}
</script>



<style src='./section-header.scss' lang="scss">
</style>