.section-header {
  position: relative;
  padding: 40px;
  // margin: 0 24px;
  width: 100%;
  height: 696px;

  @media (max-width: $l) {
    height: 588px;
  }
  @media (max-width: $m) {
    height: 494px;
    padding: 32px;
  }
  @media (max-width: $s) {
    height: 452px;
    padding: 24px;
  }
  @media (max-width: $xs) {
    height: 480px;
    padding: 16px;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    filter: brightness(50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    color: $color-grey-0;
    @include fontSize(64, 72);
    font-weight: 600;
    margin: 0;
    margin-top: 40px;

    @media (max-width: $m) {
      @include fontSize(56, 64);
    }
    @media (max-width: $s) {
      @include fontSize(40, 48);
    }
    @media (max-width: $xs) {
      @include fontSize(28, 36);
    }
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__objects {
    color: $color-grey-0;
    @include fontSize(14, 16);
    font-weight: 500;
    padding: 8px 12px;
    border: 1px solid $color-grey-0;
    border-radius: 20px;
    width: fit-content;
  }

  &__contacts {
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $xss) {      
      flex-direction: column;
    }
  }

  &__item {
    max-width: 534px;
    margin-right: 64px;
    @media (max-width: 1080px) {      
      max-width: 445px;
    }

    @media (max-width: 785px) {      
      max-width: 632px;
    }
    
    &:nth-last-child(1) {
      margin-right: 0;      
    }

    &+& {
      @media (max-width: 785px) {      
        margin-top: 32px;
      }
      @media (max-width: $xss) {      
        margin-top: 16px;
      }
    }
  }

  &__link {
    color: $color-blue-700;
    @include fontSize(18, 24);
    font-weight: 500;
    margin-top: 8px;
    cursor: pointer;
  }

  &__text {
    color: $color-grey-0;
    @include fontSize(24, 32);
    font-weight: 400;
    &+& {
      margin-top: 8px;
    }

    @media (max-width: $m) {
      @include fontSize(20, 24);
    }
  }
}
