<template lang="pug">
.table
  .table__tabs
    button(type='button' @click='toggleTab(1)', :class='{ "active": tab == 1 }').table__tab Характеристики
    button(type='button' @click='toggleTab(2)', :class='{ "active": tab == 2 }').table__tab Несущая способность
    button(type='button' @click='toggleTab(3)', :class='{ "active": tab == 3 }').table__tab Теплоизоляционные характеристики
    button(type='button' @click='toggleTab(3)', :class='{ "active": tab == 4 }').table__tab Огнестойкость
  .table__content(v-if='tab == 1')
    table
      tbody
        tr
          th Толщина панели, мм
          th Ширина монтажная, мм
          th Максимальная длина, мм
          th Вес с минеральной ватой, кг/м²
          th Вес с пенополи-стиролом, кг/м²
        tr
          td 50
          td(rowspan='8') 900, 1000, 1160, 1190, 1195, 1200
          td(rowspan='8') 13 000
          td 14.0
          td 9,6
        tr
          td 60
          td 15.8
          td 9,8
        tr
          td 80
          td 18,2
          td 10,2
        tr
          td 100
          td 20,1
          td 10,6
        tr
          td 120
          td 11,0
          td 11,6
        tr
          td 150
          td 22,4
          td 12,6
        tr
          td 150
          td 26,3
          td 12,6
        tr
          td 200
          td 31,7
          td 12,6
  .table__content(v-if='tab == 2')
    p 2
  .table__content(v-if='tab == 3')
  .table__content(v-if='tab == 4')
</template>

<script>
export default {
  data() {
    return {
      tab: 1,
    };
  },
  methods: {
    toggleTab(id) {
      this.tab = id;
    },
  },
}
</script>

<style src='./table.scss' lang="scss">
</style>