<template lang="pug">
  ul.socials
    li.socials__item
      a(href='/' target='_blank' rel='noopener noreferrer').socials__icon 
        svg-icon(name='ig')
    li.socials__item
      a(href='/' target='_blank' rel='noopener noreferrer').socials__icon 
        svg-icon(name='vk')
    li.socials__item
      a(href='/' target='_blank' rel='noopener noreferrer').socials__icon 
        svg-icon(name='fb')
</template>

<style src="./socials.scss" lang="scss">

</style>