.file-card {

  &:hover {
    & .file-card__image {
      filter: brightness(68%);
    }

    & .file-card__container {
      background-color: $color-grey-400;
    }

    & .file-card__download {
      opacity: 1;
    }

    & .file-card__icon {
      opacity: 0;
    }
  }

  &.is-big {
    & .file-card__container {      
      height: 448px;

      @media (max-width: $l) {
        height: 372px;
      }
      @media (max-width: $m) {
        height: 320px;
      }
      @media (max-width: $s) {
        height: 282px;
      }
      @media (max-width: $xss) {
        height: 240px;
      }
      @media (max-width: $s) {
        height: 192px;
      }
    }
  }

  &__container {   
    // width: 240px;
    height: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-grey-100;
    transition: filter 0.3s ease, background-color 0.3s ease;

    @media (max-width: $s) {      
      height: 264px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__icon {
    width: 80px;
    height: 80px;
    opacity: 1;
    transition: opacity 0.3s ease;

    @media (max-width: $s) {
      width: 56px;
      height: 56px;
    }
  }

  &__title {
    @include fontSize(18, 24);
    font-weight: 500;
    color: $color-grey-900;
    margin-top: 24px;
    margin-bottom: 8px;
  }
  &__description {
    @include fontSize(18, 24);
    font-weight: 400;
    color: $color-grey-500;
    text-transform: uppercase;
  }

  &__download {
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $color-grey-0;
  }

  &__download-icon {
    width: 32px;
    height: 32px;
    fill: $color-grey-900;
  }
}