<template lang="pug">
  .objects-main
    .objects-main__grid    
      .objects-main__item
        ObjectCard
      .objects-main__item
        ObjectCard
      .objects-main__item
        ObjectCard
      .objects-main__item
        ObjectCard
      .objects-main__item(v-if="!visibility")
        ObjectCard
      .objects-main__item(v-if="!visibility")
        ObjectCard
      .objects-main__item(v-if="!visibility")
        ObjectCard
      .objects-main__item(v-if="!visibility")
        ObjectCard      
    .page__show-more(v-if="visibility && length > 4")
      ShowMore(@click.native='showMore') 
</template>

<script>
export default {
  props: ['length'],
  data() {
    return {
      visibility: true
    }
  },
  methods: {
    showMore() {
      this.visibility = false
    }
  },
}
</script>

<style src='./objects-main.scss' lang="scss">

</style>