.dropdown-enter-active,
.dropdown-leave-active {
  transition: ease opacity 0.5s, ease transform 0.5s;
}
.dropdown-enter,
.dropdown-leave-to {
  opacity: 0;
  z-index: 0;
  transform: translateY(-20px);
}


