@charset "UTF-8";

@font-face {
  font-family: 'TTHoves';
  src: url('~@/assets/fonts/TTHoves-Regular.woff2') format('woff2'), url('~@/assets/fonts/TTHoves-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TTHoves';
  src: url('~@/assets/fonts/TTHoves-DemiBold.woff2') format('woff2'), url('~@/assets/fonts/TTHoves-DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TTHoves';
  src: url('~@/assets/fonts/TTHoves-Medium.woff2') format('woff2'), url('~@/assets/fonts/TTHoves-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}




