@charset "UTF-8";

@mixin fontSize($size, $height) {
  font-size: #{$size / 10}rem;
  line-height: #{$height / 10}rem;
}

// $xl: 1224px;
// $l: 1024px;
// $m: 680px;
// $s: 576px;
// $xss: 320px;
// $xs: 200px;


// $xl: 1440px;
// $l: 1224px;
// $m: 1024px;
// $s: 680px;
// $xss: 576px;
// $xs: 320px;


$l: 1440px;
$m: 1224px;
$s: 1024px;
$xss: 680px;
$xs: 576px;


// Responsive (for example: xs, sm, md, lg, xl)
$mq-breakpoints: (
  "xs": 321px,
  "sm": 680px,
  "md": 984px,
  "lg": 1224px,
  "xl": 1440px
);

$mq-indents: (
  "xs": 1.6rem,
  "sm": 2.4rem,
  "md": 4rem,
  "lg": 4rem,
  "xl": 4rem
);

$mq-container-widths: (
  "xs": 100%,
  "sm": 100%,
  "md": 100%,
  "lg": 100%,
  "xl": 1920px
);

$mq-container-indents: (
  "xs": map-get($mq-indents, "xs"),
  "sm": map-get($mq-indents, "sm"),
  "md": map-get($mq-indents, "md"),
  "lg": map-get($mq-indents, "lg"),
  "xl": map-get($mq-indents, "xl")
);

$mq-grid-gutters: (
  "xs": map-get($mq-indents, "xs"),
  "sm": map-get($mq-indents, "sm"),
  "md": map-get($mq-indents, "md"),
  "lg": map-get($mq-indents, "lg"),
  "xl": map-get($mq-indents, "xl")
);

// Not responsive
$width: 1220px;
$indent: 2rem;

$container-width: $width;
$container-indent: $indent;

$grid-gutter: $indent;

// Border radius
$border-radius-base: .5rem;

// mobile top offset

$mobile-top-offset: 4.8rem;

// Site colors
$color-black: #000;
$color-brown: #513624;
$color-light-black: #1f150b;
$color-dark-gray: #706d6d;
$color-cream: #f4f1f1;
$color-white: #fff;
$color-orange: #FF6B00;
$color-dark-orange: #cc4c05;
$color-light-gray: #dcd9d9;
$color-medium-gray: #b9b5b5;

$color-grey-0: #fff;
$color-grey-100: #F2F2F2;
$color-grey-200: #EBECED;
$color-grey-300: #D2D6D9;
$color-grey-400: #b4b8bf;
$color-grey-500: #8B9094;
$color-grey-600: #61656b;
$color-grey-700: #4e5257;
$color-grey-800: #313439;
$color-grey-900: #12161A;
$color-grey-900-25: rgba(17, 20, 25, .24);


$color-blue-100: #DEF2FC;
$color-blue-700: #0C74DD;
$color-blue-900: #0C44AC;

$color-accent-blue: #0f57e3;
$color-accent-blue-50: #e8ebfc;
$color-accent-dark-blue: #031f56;
$color-accent-red: #e02338;
$color-accent-red-50: #ffebf0;

// Colors system
$color-base: #000;

$color-light: #666;
$color-muted: #999;
$color-minor: #ccc;

$color-brand: neo;

$color-error: #FF3030;
$color-warning: #f90;
$color-success: #390;

// Fonts
$font-family-base: -apple-system, 'BlinkMacSystemFont', "Segoe UI", 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$font-family-alt: $font-family-base;

$font-weight-base: 400;
$font-weight-solid: 700;

// Forms
$checkbox-size: 2rem;

$radio-size: 2rem;

// Links
$color-link: #369;

// Transitions
$transition-duration-base: .3s ease;

$gap: 48px;
$width: 100%;
$minwidth: 320px;
// $maxwidth: 1440px;
$maxwidth: 1392px;
