.product-tabs {
  $this: &;
  margin-top: 64px;

  margin-bottom: -96px;
  transition: all 0.3s ease;

  &.is-fixed {
    width: 100%;
    position: fixed !important;
    z-index: 30;
    margin-top: 0;
    top: 0;
    left: 0;
    transform: translateY(96px);
    background-color: $color-white !important;
    padding: 24px 40px;
    padding-bottom: 0;
    box-shadow: 0 2px 10px $color-grey-300;
    
    overflow-y: hidden;

    @media (max-width: $m) {
      padding: 24px 36px;
      padding-bottom: 0;
    }
    @media (max-width: $s) {
      padding: 24px;
      padding-bottom: 0;
    }
    @media (max-width: $xs) {
      padding: 24px 16px;
      padding-bottom: 0;
    }

    #{$this}__link {
      padding-bottom: 20px;
    
    }

    @media (max-width: $m) {
      transform: translateY(64px);
    }
  }

  @media (max-width: $m) {
    margin-top: 48px;
    margin-bottom: -24px;
  }

  &__list {
    display: flex;
    @media (max-width: $m) {
      overflow-y: scroll;
      overflow-x: unset;
      
    }
    
  }
  &__list::-webkit-scrollbar {
    width: 0;
    height: 0;    
  }

  &__item {   
   display: flex;
   flex-shrink: 0;
    & + & {
      margin-left: 24px;
    }   

    &:hover {
      & .product-tabs__link {
        color: $color-blue-900;
        
      }
    }
  }

  &__link {
    color: $color-blue-700;
    @include fontSize(18, 24);
    font-weight: 500;
    transition: color 0.3s ease;
    padding-bottom: 12px;
    border-bottom: 4px solid $color-grey-0;

    &.nuxt-link-active {
      border-bottom: 4px solid $color-blue-700;
    }
  }
}
