.wysiwyg {

  &.about {
    padding-top: 64px;

    @media (max-width: $m) {
      padding-top: 48px;
    }
    @media (max-width: $s) {
      padding-top: 32px;
    }
    @media (max-width: $xs) {
      padding-top: 24px;
    }
  }

  h2 {
    padding-top: 160px;

    @media (max-width: $m) {
      padding-top: 144px;
    }
    @media (max-width: $s) {
      padding-top: 96px;
    }
    @media (max-width: $xs) {
      padding-top: 48px;
    }

    color: $color-grey-900;
    @include fontSize(48, 56);
    font-weight: 600;
    padding-bottom: 64px;
    @media (max-width: $m) {
      @include fontSize(40, 48);
      padding-bottom: 48px;
    }
    @media (max-width: $s) {
      @include fontSize(32, 40);
      padding-bottom: 32px;
    }
    @media (max-width: $xs) {
      @include fontSize(24, 32);
      padding-bottom: 24px;
    }
  }

  h3 {
    color: $color-grey-900;
    @include fontSize(24, 32);
    font-weight: 600;
    margin-top: 64px;
  }

  p {
    color: $color-grey-900;
    @include fontSize(18, 28);
    font-weight: 400;
    margin-bottom: 16px;
    max-width: 880px;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }

  img {
    margin-top: 64px;
    display: block;
  }

  ul {
    margin-top: 16px;
    li {
      position: relative;
      padding-left: 32px;
    }
    li::before {
      position: absolute;
      content: '';
      // margin-right: 8px;
      top: 14px;
      left: 4px;
      width: 16px;
      height: 2px;
      background-color: $color-blue-700;
    }
  }

  ol {
    margin-top: 16px;
    list-style-type: none;
    counter-reset: num;
    li::before {
      content: counter(num);
      counter-increment: num;

      margin-right: 8px;
      color: $color-blue-700;
      @include fontSize(18, 28);
      font-weight: 500;
    }
  }

  li {
    color: $color-grey-900;
    @include fontSize(18, 28);
    font-weight: 400;

    & + & {
      margin-top: 8px;
    }
  }

  a {
    color: $color-blue-700;
    @include fontSize(18, 28);
    font-weight: 400;
    text-decoration: underline;
    text-underline-offset: 4px;

    &:hover {
      color: $color-blue-900;
    }
  }

  blockquote {
    background-color: $color-blue-900;
    padding: 16px 24px;
    text-align: center;
    width: fit-content;
    color: $color-grey-0;
    @include fontSize(18, 28);
    font-weight: 400;
    margin-top: 48px;

    @media (max-width: $m) {      
      margin-top: 32px;
    }
    @media (max-width: $s) {
      width: 100%;
    }
    @media (max-width: $xs) {      
      margin-top: 24px;
    }
  }
}
