<template lang="pug">
  .wysiwyg
    h2 Описание услуги
    p Для предотвращения повреждений в процессе погрузочно-разгрузочных работ, транспортировки и хранении, сэндвич-панели упаковываются в транспортные пакеты (паллеты). Количество панелей в упаковке зависит от толщины и типа сэндвич-панелей, общая высота паллеты не превышает 1200 мм. Упаковка производится по всей длине и торцам панелей, образуя прочный и герметичный транспортный пакет.
    br
    p К паллете прилагается упаковочный лист, в котором указан тип, количество и маркировка сэндвич–панелей.
    img(src='/wysiwyg.jpg')
    h3 Виды упаковок
    ul
      li <b>Автомобильная упаковка</b> — упаковка пачек сэндвич-панелей в полиэтиленовую плёнку для перевозки автомобильным транспортом. Стандартная упаковка для перевозки автотранспортом, входит в стоимость сэндвич-панелей, при необходимости наша продукция может быть упакована нестандартно.
      li <b>Автомобильная упаковка</b> — упаковка пачек сэндвич-панелей в полиэтиленовую плёнку для перевозки автомобильным транспортом. Стандартная упаковка для перевозки автотранспортом, входит в стоимость сэндвич-панелей, при необходимости наша продукция может быть упакована нестандартно.
      li <b>Автомобильная упаковка</b> — упаковка пачек сэндвич-панелей в полиэтиленовую плёнку для перевозки автомобильным транспортом. Стандартная упаковка для перевозки автотранспортом, входит в стоимость сэндвич-панелей, при необходимости наша продукция может быть упакована нестандартно.
    h2 Вместимость в одну упаковку
    p Упаковка сэндвич-панелей формируется исходя из следующих условий:
    ol
      li сохранность сэндвич-панелей при перевозке;
      li пожелания заказчика, связанные с порядком (очерёдностью) монтажа сэндвич-панелей
    p В случае если порядок поставки сэндвич-панелей не оговорён договором — приоритет в формировании упаковки отдаётся безопасности перевозки и сохранности продукции.
    p Специалисты нашей компании имеют высокую квалификацию и большой опыт, а профессиональные менеджеры помогут и проконсультируют вас по любым вопросам.
    p Сотрудничество с ЗСК <strong>«Стройэлемент»</strong> гарантирует высокое качество продукции, производство сэндвич-панелей в кратчайшие сроки, полную комплектацию заказа фасонными и доборными элементами, информационное сопровождение и предоставление консультаций в процессе строительства.
    p Про производстве сэндвич-панелей и других строительных материалов используется автоматическая линия последнего поколения <strong>«HILLENG»</strong>, которая позволяет нашей продукции полностью соответствовать нормативным требованиям, что подтверждено <a href='#'> действующими документами.</a>

</template>

<style src='./wysiwyg.scss' lang="scss">

</style>