<template lang="pug">
  .dropdow-item
    .dropdow-item__head(@click="toogleDropdown")
      .dropdow-item__title Каталог
      .dropdow-item__icon
        svg-icon.dropdow-item__icon-shevron(v-if="!dropdownOpened" name='plus')
        svg-icon.dropdow-item__icon-shevron(v-if="dropdownOpened" name='minus')    
    .dropdow-item__body(v-show-slide:500:example-easing="dropdownOpened" :class='{"active": dropdownOpened}')
      nuxt-link.dropdow-item__link(to='/') Акустические сэндвич-панели 
      nuxt-link.dropdow-item__link(to='/') Акустические сэндвич-панели 
      nuxt-link.dropdow-item__link(to='/') Акустические сэндвич-панели 
      nuxt-link.dropdow-item__link(to='/') Акустические сэндвич-панели 
</template>

<script>
export default {
  data() {
    return {
      dropdownOpened: false
    }
  },
  methods: {
    toogleDropdown() {
      this.dropdownOpened = !this.dropdownOpened
    }
  },
}
</script>

<style src='./dropdow-item.scss' lang="scss">

</style>