.filter-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-white;
  border: 1px solid $color-grey-300;
  border-radius: 999px;
  width: 100%;
  padding: 16px;
  cursor: pointer;
  transition: border 0.3s ease;

  &:hover {
    border: 1px solid $color-blue-700;
    & .filter-item__name {
      color: $color-blue-700;
    }
    & .filter-item__value {
      color: $color-blue-700;
    }
    & .filter-item__icon {
      stroke: $color-blue-700;
    }
  }

  & + & {
    margin-top: 8px;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__image {
    width: 48px;
    height: 48px;
  }

  &__color {
    width: 48px;
    height: 48px;
    border-radius: 50%;
  }

  &__options {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
  }

  &__name {
    color: $color-grey-900;
    @include fontSize(14, 16);
    font-weight: 400;
    transition: color 0.3s ease;
  }
  &__value {
    color: $color-grey-900;
    @include fontSize(16, 24);
    font-weight: 600;
    margin-top: 4px;
    transition: color 0.3s ease;
  }

  &__icon {
    width: 10px;
    height: 16px;
    stroke: $color-grey-900;
    stroke-width: 2;
    stroke-linecap: square;
  }
}
