.show-more {
  width: 144px;
  height: 144px;
  border-radius: 100%;
  background-color: $color-grey-100;
  color: $color-grey-900;
  @include fontSize(16, 24);
  font-weight: 500;
  transition: background-color 0.3s ease color 0.3s ease;

  &:hover {
    background-color: $color-blue-900;
    color: $color-grey-0;
  }

  // @media (max-width: $xs) {
  //   display: none;
  // }
}
