.features {
  padding: 96px;
  background-color: $color-grey-100;

  @media (max-width: $m) {
    padding: 64px;
  }
  @media (max-width: $s) {
    padding: 32px;
  }
  @media (max-width: $xss) {
    padding: 24px;
  }

  &__items {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 48px;

    @media (max-width: $s) {
      grid-template-columns: 1fr 1fr;
      gap: 24px;
    }
    @media (max-width: $xss) {
      grid-template-columns: 1fr;
    }
  } 
}
