.button-slider {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8rem;
  height: 8rem;
  padding: 0;
  background-color: $color-grey-0;
  box-shadow: 0px 0px 12px rgba(18, 22, 26, 0.24);
  bottom: 48px;
  left: 48px;
  z-index: 20;
  outline: none;
  opacity: 1;

  &.swiper-button-disabled {
    opacity: 0;
    pointer-events: none;
  }

  &__icon {
    width: 2.2rem;
    height: 1.2rem;

    &.prev {
      transform: rotateY(180deg);
    }
  }
}
