<template lang="pug">
button(type='button').button-slider
  svg-icon.button-slider__icon(name='arrow')
</template>

<script>
export default {
  props: ['reference']
}
</script>

<style src='./button-slider.scss' lang="scss">
</style>