<template lang='pug'>
label.calculator-item(
  :class='{ "active": data.checked }',  
  @click='click',
  ref='label'
)
  input.calculator-item__tag(
    type='radio',
    :id='data.name',
    :value="data.checked"
    v-model='picked',
    :checked='value'
  )
  .calculator-item__box
  span.calculator-item__span {{ data }}
  span.calculator-item__span {{ picked }}
</template>

<script>
export default {
  props: ['data'],
  data() {
    return {
      selected: false,
      number: 0,
      value: false,
      picked: ''
               
    }
  },
  methods: {
    click(e) { 
      this.$emit('change', this.$refs.label)
      this.$emit('input', e.target.checked)
    },
  },
}
</script>



<style lang='scss' src='./calculator-item.scss'>
</style>