<template lang="pug">
.reviews-slider
  .reviews-slider__container(ref='container')
    .reviews-slider__wrapper 
      .reviews-slider__slide
        ReviewCard
      .reviews-slider__slide
        ReviewCard
      .reviews-slider__slide
        ReviewCard
      .reviews-slider__slide
        ReviewCard
    .reviews-slider__pagination
    .reviews-slider__controls
      button.reviews-slider__prev(type='button', title='Предыдущий слайд', ref='prev')
        svg-icon.reviews-slider__icon.prev(name='arrow')
      button.reviews-slider__next(type='button', title='Следующий слайд', ref='next')
        svg-icon.reviews-slider__icon(name='arrow')    
</template>

<script>
import Swiper, { Navigation, Pagination } from 'swiper'
Swiper.use(Navigation, Pagination)
export default {
  methods: {
    initReviewsSlider() {
      this.swiper = new Swiper(this.$refs.container, {
        wrapperClass: 'reviews-slider__wrapper',
        slideClass: 'reviews-slider__slide',
        slidesPerView: 'auto',
        navigation: {
          nextEl: this.$refs.next,
          prevEl: this.$refs.prev,
        },
        pagination: {
          el: '.reviews-slider__pagination',
          type: 'bullets',
        },
        breakpoints: {
          // when window width is >= $xs
          320: {
            spaceBetween: 16,
          },
          // when window width is >= $xss
          576: {
            spaceBetween: 24,
          },
          // when window width is >= $s
          1024: {
            spaceBetween: 0,
            slidesPerView: 1,
          },          
        },
      })
    },
  },
  mounted() {
    this.initReviewsSlider()
  },
}
</script>

<style src='./reviews-slider.scss' lang="scss">
</style>