.reviews-slider {
  position: relative;
  margin-top: 16px;

  &:hover {
    & .reviews-slider__controls {
      opacity: 1;
    }
  }

  &__container {
    overflow: hidden;
    @media (max-width: $s) {
      overflow: auto;
    }
  }

  &__wrapper {
    display: flex;
  }

  &__slide {
    width: 100%;
    flex-shrink: 0;

    @media (max-width: $s) {
      width: 608px;
    }   

    @media (max-width: $xs) {
      width: 272px;
    }
  }

  &__controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(100% + 80px);
    top: calc(50% - 40px);
    left: -40px;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    @media (max-width: $s) {
      display: none;
    }
  }

  &__next,
  &__prev {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    padding: 0;
    background-color: $color-grey-0;
    box-shadow: 0px 0px 12px rgba(18, 22, 26, 0.24);
    bottom: 48px;
    left: 48px;
    z-index: 20;
    outline: none;
    opacity: 1;
    pointer-events: all;
    
    &:hover {
      & .reviews-slider__icon {
        fill: $color-blue-900;
      }
    }

    &.swiper-button-disabled {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__icon {
    width: 2.2rem;
    height: 1.2rem;
    fill: $color-grey-900;

    &.prev {
      transform: rotateY(180deg);
    }
  }

  &__pagination {
    position: absolute;
    left: 84px;
    // bottom: 2.4rem;
    bottom: 48px;
    display: flex;
    flex-flow: row nowrap;
    z-index: 1;

    @media (max-width: $m) {
      left: 68px;
      bottom: 32px;
    }
    @media (max-width: $s) {
      display: none;
    }
  }

  & .swiper-pagination-bullet {
    position: relative;
    width: 12px;
    height: 12px;
    background-color: $color-grey-300;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 8px;
  }

  & .swiper-pagination-bullet-active {
    background-color: $color-blue-700;
  }
}
