<template lang="pug">
.page__content
  Breadcrumbs(:data="breadcrumbs")
  Headline(underline='Новости')
  .container.is-header
    NewsCard
    NewsCard
    NewsCard(image='/news-1.jpg')
    NewsCard(v-if="!visibility")
    NewsCard(v-if="!visibility")
    NewsCard(v-if="!visibility")
    NewsCard(v-if="!visibility")
    .page__show-more(v-if="visibility")
      ShowMore(@click.native='showMore')
</template>

<script>
export default { 
  data() {
    return {
      visibility: true
    }
  },
  methods: {
    showMore() {
      this.visibility = false
    }
  }, 
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'Новости',          
        },
      ]
      
      return breadcrumbs
    },
  },
}
</script>