<template lang="pug">
  .container
    section.solutions-page
      .solutions-page__item.is-big
        SolutionCard      
      .solutions-page__item
        SolutionCard      
      .solutions-page__item
        SolutionCard      
      .solutions-page__item.is-big
        SolutionCard      
      .solutions-page__item
        SolutionCard      
      .solutions-page__item
        SolutionCard      
      .solutions-page__item
        SolutionCard      
</template>

<style lang='scss' src='./solutions-page.scss'></style>