<template lang="pug">
.feature
  p.feature__value {{data.value}}
  p.feature__name {{data.name}}
</template>

<script>
export default {
  props: ['data']
}
</script>

<style src='./feature.scss' lang="scss">
</style>