.feature {
  &__value {
    @include fontSize(32, 40);
    font-weight: 500;
    color: $color-orange;
    margin-bottom: 8px;

    @media (max-width: $s) {
      @include fontSize(24, 32);
      margin-bottom: 4px;
    }
  }

  &__name {
    @include fontSize(18, 24);
    font-weight: 400;
    color: $color-grey-900;
  }
}