.accordion {


  border-top: 1px solid $color-grey-900;
  border-bottom: 1px solid $color-grey-900;

  &:nth-child(1) {
    border-top: 2px solid $color-grey-900;
  }

  &:nth-last-child(1) {
    border-bottom: 2px solid $color-grey-900;
  }

  &.unit {
    margin-top: 64px;
    border-top: 2px solid $color-grey-900;
  }  

  &.active {
    border-bottom: unset;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    align-items: center;
    cursor: pointer;
  }

  &__title {
    @include fontSize(24, 32);
    font-weight: 500;
    color: $color-grey-900;

    &.active {
      color: $color-blue-700;
    }
  }
  &__subtitle {
    @include fontSize(16, 24);
    font-weight: 400;
    color: $color-grey-500;
  }

  &__text {
    @include fontSize(18, 24);
    font-weight: 400;
    color: $color-grey-900;

    &.title {
      font-weight: 500;
      margin-bottom: 8px;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
  }

  &__icon-shevron {
    width: 2.4rem;
    height: 2.4rem;
    stroke-width: 2;
    stroke-linecap: square;
    fill: $color-grey-900;    
  }

  &__icon-download {
    width: 1.8rem;
    height: 1.8rem;
    stroke-width: 2;
    stroke-linecap: square;
    stroke: $color-blue-700;
    margin-right: 12px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    

    &.active {
      padding-bottom: 24px;
    }
  }

  &__link {
    @include fontSize(18, 24);
    font-weight: 600;
    color: $color-blue-700;
    margin-top: 32px;

    &:hover {
      color: $color-blue-900;
    }

    &.unit {
      margin-top: 0;
    }
  }

  &__button {
    margin-top: 16px;
    margin-bottom: 24px;
    width: 100%;
    padding: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-grey-100;
    @include fontSize(18, 24);
    font-weight: 500;
    color: $color-blue-700;
    &:hover {
      color: $color-blue-900;

      & .accordion__icon-download {
        stroke: $color-blue-900;
      }
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    border-bottom: 2px solid $color-grey-900;
  }

  &__content {
  }
}
