<template lang="pug">
  nuxt-link.solution-card(to='/solutions/slug')
    img.solution-card__background(src='/solution-card-1.jpg')
    .solution-card__background-color
    .solution-card__top
      .solution-card__numbers 55 dasdasd
      svg-icon.solution-card__icon(name="arrow-up-right")
    .solution-card__bottom 
      p.solution-card__name Название решения
    .solution-card__hover
      p.solution-card__name Название решения 
      p.solution-card__text В Московском регионе, где сосредоточено много крупных и небольших компаний, производственные помещения являются востребованным продуктом, и некоторые виды таких объектов являются наиболее востребованными бизнес-сообществом.
</template>

<script>
export default {
  computed: {
    
  }
}
</script>

<style src='./solution-card.scss' lang="scss">

</style>