<template lang="pug">
.gallery-slider
  .gallery-slider__container(ref='container')
    .gallery-slider__wrapper 
      .gallery-slider__slide
        img.gallery-slider__image(src='/main-slider.jpg')
        p.gallery-slider__text Подпись к фотографии
      .gallery-slider__slide
        img.gallery-slider__image(src='/main-slider.jpg')
        p.gallery-slider__text Подпись к фотографии
      .gallery-slider__slide
        img.gallery-slider__image(src='/main-slider.jpg')
        p.gallery-slider__text Подпись к фотографии
      .gallery-slider__slide
        img.gallery-slider__image(src='/main-slider.jpg')
        p.gallery-slider__text Подпись к фотографии
    .gallery-slider__controls
      button.gallery-slider__prev(type='button', title='Предыдущий слайд', ref='prev')
        svg-icon.gallery-slider__icon.prev(name='arrow')
      button.gallery-slider__next(type='button', title='Следующий слайд', ref='next')
        svg-icon.gallery-slider__icon(name='arrow')
    .gallery-slider__progress
      .wrapper
        .pie.spinner.spinner-animated
        .pie.filler.filler-animated
        .mask.mask-animated
</template>

<script>
import Swiper, { Navigation, Autoplay } from 'swiper'
Swiper.use(Navigation, Autoplay)
export default {
  methods: {
    initGallerySlider() {
      const swiper = new Swiper(this.$refs.container, {
        wrapperClass: 'gallery-slider__wrapper',
        slideClass: 'gallery-slider__slide',
        slidesPerView: 1,
        centeredSlides: true,
        // loop: true,
        speed: 300,
        autoplay: {
          delay: 8000,
          disableOnInteraction: false
        },
        spaceBetween: 0,
        navigation: {
          nextEl: this.$refs.next,
          prevEl: this.$refs.prev,
        },
        breakpoints: {
          // when window width is >= $xs
          320: {
            spaceBetween: 4,
          },
          // when window width is >= $xss
          576: {
            spaceBetween: 24,
            
          },
          // when window width is >= $s
          680: {
            spaceBetween: 32,
            slidesPerView: 1
          },
          // when window width is >= $m
          1024: {
            spaceBetween: 48,
          },
        },
      })
      swiper.on('slideChange', () => {
        document.querySelector('.spinner').classList.remove('spinner-animated')
        setTimeout(() => {
          document.querySelector('.spinner').classList.add('spinner-animated')
        }, 0)
        

        document.querySelector('.filler').classList.remove('filler-animated')
        setTimeout(() => {
          document.querySelector('.filler').classList.add('filler-animated')
        }, 0)

        document.querySelector('.mask').classList.remove('mask-animated')
        setTimeout(() => {
          document.querySelector('.mask').classList.add('mask-animated')
        }, 0)
      })
    },
  },
  mounted() {
    this.initGallerySlider()
  },
}
</script>

<style src='./gallery-slider.scss' lang="scss">
</style>