.gallery-slider {
  $this: &;
  position: relative;
  margin-top: 16px;

  &:hover {
    & .gallery-slider__controls {
      opacity: 1;
    }
  }

  &__container {
    width: 880px !important;
    position: relative;
    @media (max-width: $l) {
      width: 736px !important;
    }
    @media (max-width: $m) {
      width: 788px !important;
    }
    @media (max-width: $s) {
      width: 608px !important;
    }
    @media (max-width: $xss) {
      width: 100% !important;
    }
    @media (max-width: $xss) {
      overflow: hidden;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    // height: 586px;
    
    

    // @media (max-width: $l) {
    //   height: 490px;
    // }
    // @media (max-width: $m) {
    //   height: 524px;
    // }
    // @media (max-width: $s) {
    //   height: 404px;
    // }
    // @media (max-width: $xss) {
    //   height: 272px;
    // }
    // @media (max-width: $xs) {
    //   height: 192px;
    // }
  }

  &__image {
    height: 440px;
    display: block;
    width: 100%;
    // width: 880px;
    aspect-ratio: 3 / 2;
    
    // transition: all 0.5s ease;
    filter: brightness(68%);

    @media (max-width: $l) {
      // height: 369px;
      height: 368px;
    }
    @media (max-width: $m) {
      height: 394px;
    }
    @media (max-width: $s) {
      height: 303px;
    }
  }

  &__slide {
    display: flex;
    flex-direction: column;
    position: relative;
    
    flex-shrink: 0;
    

    &.swiper-slide-active {
      
      flex-shrink: 0;
      flex-grow: 1;
      width: 880px !important;
      @media (max-width: $l) {
        width: 736px !important;
      }
      @media (max-width: $m) {
        width: 788px !important;
      }
      @media (max-width: $s) {
        width: 608px !important;
      }
      @media (max-width: $xss) {
        width: 100% !important;
      }

      #{$this}__image {
        aspect-ratio: 3 / 2;
        height: 586px;

        @media (max-width: $l) {
          height: 490px;
        }
        @media (max-width: $m) {
          height: 524px;
        }
        @media (max-width: $s) {
          height: 100%;
        }
        // @media (max-width: $xs) {
        //   height: 192px;
        // }
      }
    }
  }

  &__controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(100% + 320px);
    top: calc(50% - 80px);
    // left: -160px;
    right: -152px;
    opacity: 1;
    transition: opacity 0.3s ease;
    pointer-events: none;

    @media (max-width: $l) {
      width: calc(100% + 160px);
      right: -144px;
    }

    @media (max-width: $m) {
      display: none;
    }
  }

  &__next,
  &__prev {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    padding: 0;
    background-color: $color-grey-0;
    box-shadow: 0px 0px 12px rgba(18, 22, 26, 0.24);
    bottom: 48px;
    left: 48px;
    z-index: 20;
    outline: none;
    opacity: 1;
    pointer-events: all;

    &:hover {
      & .gallery-slider__icon {
        fill: $color-blue-900;
      }
    }

    &.swiper-button-disabled {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__icon {
    width: 2.2rem;
    height: 1.2rem;
    fill: $color-grey-900;

    &.prev {
      transform: rotateY(180deg);
    }
  }

  &__text {
    margin-top: 16px;
    color: $color-grey-500;
    @include fontSize(16, 24);
    font-weight: 400;
  }

  &__progress {
    width: 32px;
    height: 32px;
    position: absolute;
    bottom: 64px;
    right: 24px;
    // left: 828px;
    background: $color-grey-900;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    @media (max-width: $xs) {
      right: 16px;      
      bottom: 112px;  
    }
    
  }
}

.wrapper {
  width: 24px;
  height: 24px;
  position: relative;
  background: $color-grey-900;
  border-radius: 50%;
}

.wrapper .pie {
  width: 50%;
  height: 100%;
  transform-origin: 100% 50%;
  position: absolute;
  background: $color-grey-0;
}

.wrapper .spinner {
  border-radius: 100% 0 0 100% / 50% 0 0 50%;
  z-index: 2;
  border-right: none;
}

.wrapper .filler {
  border-radius: 0 100% 100% 0 / 0 50% 50% 0;
  left: 50%;
  opacity: 0;
  z-index: 1;
  border-left: none;
}

.wrapper .mask {
  width: 56%;
  height: 103%;
  position: absolute;
  border-radius: 50% 0 0 50%;
  background: inherit;
  opacity: 1;
  z-index: 3;
  transform: translateX(-1px) translateY(-1px);
}

.spinner-animated {
  animation: rota 8s linear;
}
.filler-animated {
  animation: fill 8s steps(1, end);
}
.mask-animated {
  animation: mask 8s steps(1, end);
}

@keyframes rota {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fill {
  0% {
    opacity: 0;
  }
  50%,
  100% {
    opacity: 1;
  }
}

@keyframes mask {
  0% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}
