.solutions-main {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: $s) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  @media (max-width: $xs) {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  &__item {
  }
}
