.files-item {
  margin-top: 96px;

  @media (max-width: $m) {
    margin-top: 64px;
  }
  @media (max-width: $m) {
    margin-top: 48px;
  }
  &__list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 64px 24px;

    @media (max-width: $m) {
      gap: 48px 16px;
    }

    @media (max-width: $s) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 32px 16px;
    }
    @media (max-width: $xss) {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 24px 16px;
    }
    @media (max-width: $xs) {
      grid-template-columns: 1fr 1fr;
    }

    &.guide {
      @media (max-width: $xss) {
        grid-template-columns: 1fr 1fr;
      }
      @media (max-width: $xs) {
        grid-template-columns: 1fr;
      }
    }
  }

  &__title {
    margin-bottom: 64px;
    font-weight: 600;
    @include fontSize(48, 56);
    color: $color-grey-900;

    @media (max-width: $m) {
      @include fontSize(40, 48);
    }
    @media (max-width: $s) {
      @include fontSize(32, 40);
    }
  }
}
