.section {
  padding-top: 160px;
  padding-left: 256px;

  @media (max-width: $l) {
    padding-left: 220px;
  }

  @media (max-width: $m) {
    padding-top: 144px;
    padding-left: 182px;
  }
  @media (max-width: $s) {
    padding-top: 96px;
    padding-left: 0;
  }
  @media (max-width: $xs) {
    padding-top: 48px;    
  }

  &.normal {
    padding-left: 0;
  }

  &__title {
    color: $color-grey-900;
    @include fontSize(48, 56);
    font-weight: 600;
    padding-bottom: 48px;
    @media (max-width: $m) {
      @include fontSize(40, 48);
      padding-bottom: 32px;
    }
    @media (max-width: $s) {
      @include fontSize(32, 40);
      padding-bottom: 24px;
    }
    @media (max-width: $xs) {
      @include fontSize(24, 32);
      padding-bottom: 16px;
    }
  }
}
