.description {
  &__text {
    color: $color-grey-900;
    @include fontSize(18, 28);
    font-weight: 400;

    &.blue {
      color: $color-blue-700;
      font-weight: 500;
    }
  }

  &__more {
    display: flex;
    margin-top: 16px;
    cursor: pointer;
  }

  &__icon {
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 8px;
    transition: transform 0.3s ease;
    fill: $color-blue-700;

    &.active {
      transform: rotateX(-180deg);
    }
  }
}