<template lang="pug">
  .description        
    p.description__text Стеновые сэндвич-панели — это самонесущие навесные конструкции, состоящие из профилированного металлического корпуса и теплоизоляционного внутреннего наполнения. Их используют в качестве ограждающих строительных конструкций в промышленном строительстве, при возведении складских и сельскохозяйственных объектов, общественных и торговых зданий, холодильных камер, домов коттеджного типа.
    
    p.description__text(v-show-slide:500:example-easing="opened") Стеновые сэндвич-панели — это самонесущие навесные конструкции, состоящие из профилированного металлического корпуса и теплоизоляционного внутреннего наполнения. Их используют в качестве ограждающих строительных конструкций в промышленном строительстве, при возведении складских и сельскохозяйственных объектов, общественных и торговых зданий, холодильных камер, домов коттеджного типа.
  
    p.description__text(v-show-slide:500:example-easing="opened") Стеновые сэндвич-панели — это самонесущие навесные конструкции, состоящие из профилированного металлического корпуса и теплоизоляционного внутреннего наполнения. Их используют в качестве ограждающих строительных конструкций в промышленном строительстве, при возведении складских и сельскохозяйственных объектов, общественных и торговых зданий, холодильных камер, домов коттеджного типа.
    .description__more(@click='toogle') 
      p.description__text.blue(v-if="!opened") Подробнее
      p.description__text.blue(v-if="opened") Скрыть
      svg-icon.description__icon(name='arrow-down' :class='{"active": opened}')
</template>

<script>
export default {
  data() {
    return {
      opened: false
    }
  },
  methods: {
    toogle() {
      this.opened = !this.opened
    }
  },
}
</script>

<style lang='scss' src='./description.scss'></style>