<template lang="pug">
.page__content
  Breadcrumbs(:data="breadcrumbs")
  Headline(title='Завод строительных конструкций' :content='content' underline='«Стройэлемент»')
  .container
    Section(title="Производство")
      VideoCard    
      .wysiwyg.about        
        p Специалисты нашей компании имеют высокую квалификацию и большой опыт, а профессиональные менеджеры помогут и проконсультируют вас по любым вопросам.
        p Сотрудничество с ЗСК <strong>«Стройэлемент»</strong> гарантирует высокое качество продукции, производство сэндвич-панелей в кратчайшие сроки, полную комплектацию заказа фасонными и доборными элементами, информационное сопровождение и предоставление консультаций в процессе строительства.
        p Про производстве сэндвич-панелей и других строительных материалов используется автоматическая линия последнего поколения <strong>«HILLENG»</strong>, которая позволяет нашей продукции полностью соответствовать нормативным требованиям, что подтверждено <a href='#'> действующими документами.</a>
    Section
      GallerySlider
  .container
    Section.normal
      Features
  .container
    Section(title='Поставщики')
  .container
    Partners
  .container
    Section(title='Отзывы')
      ReviewsSlider
</template>

<script>
export default {
  data() {
    return {
      content: ['ЗСК «Стройэлемент» стабильная, динамично развивающаяся компания, с 2008 года занимающая лидирующие позиции на рынке современных строительных материалов.', 'Мы производим трехслойные сэндвич-панели для строительства промышленных и коммерческих зданий, спортивных комплексов, СТО и других областей.']
    }
  },
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'о компании',          
        },
      ]
      
      return breadcrumbs
    },
  },
}
</script>