<template lang="pug">
.page__content
  Breadcrumbs(:data="breadcrumbs")
  Headline(underline='Сотрудничество с нами' :content='content')
  .container   
    Section(title="Условия сотрудничества")
      Conditions
    Section(title="Преимущества сотрудничества с нами")
      Advantages(:advantages='advantages')
  .container.padding-top
    FormFeedback
</template>

<script>
export default {
  data() {
    return {
      content: ['Мы дорожим своей репутацией и профессиональными отношениями, которые сформировались с нашими партнерами в процессе реализации совместных задач.', 'Наша компания настроена на продуктивную работу на долгосрочной основе, основанную на общих интересах.'],
      advantages: [
        {
          icon: '/fire.svg',
          text: 'Помогаем в проектировании  и применении готовых решений',
        },
        {
          icon: '/fire.svg',
          text: 'Консультируем по особенностям применения сэндвич-панелей и их монтажу;',
        },
        {
          icon: '/fire.svg',
          text: 'Помогаем во время реализации проекта и оперативно решаем возникающих вопросов',
        },
        {
          icon: '/fire.svg',
          text: 'Предоставляем нормативную базу для сдачи объекта и ввода его в эксплуатацию',
        },
        {
          icon: '/fire.svg',
          text: 'Сопровождаем проект от подачи заявки до заключения договора, если он участвует в торгах;',
        },
        {
          icon: '/fire.svg',
          text: 'Сопровождение специалистами сделок по производству сэндвич-панелей',
        },
      ],
    }
  },
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'Решения',          
        },
      ]
      
      return breadcrumbs
    },
  },
}
</script>