<template lang="pug">
.page__content
  Breadcrumbs(:data="breadcrumbs")
  Headline(:content='content' underline='Конструкторам')
  .container
    Section(title="Каталог узлов")
      FilesSlider
      AccordionUnit    
    Section(title="Сертификаты и паспорта")
      FilesSlider
    Section(title="Цветовые решения")
  .container.is-colors 
    ColorPicker
  .container
    Section(title="Решения")
      SolutionsSlider(title='Отраслевые решения')   
      SolutionsSlider(title='Отраслевые решения')     
    Section(title="Характеристики сэндвич-панелей")
      CharacteristicsLinks    
</template>

<script>
export default {
  data() {
    return {
      content: ['В мире построено и успешно эксплуатируется более 4000 объектов различного типа, построенных компанией «Стройэлемент».', 'При строительстве и реконструкции объектов мы применяем собственные сертифицированные решения — современные быстровозводимые трансформаторные подстанции и их отдельные компоненты.']
    }
  },
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'Конструкторам',          
        },
      ]
      
      return breadcrumbs
    },
  },
}
</script>