<template lang="pug">
.page__content.main-page
  MainSlider
  SectionMain(title='Решения', link='/' text='Все решения')
    SolutionsMain
  SectionMain(title='Реализованные объекты', link='/' text='Все объекты')
    ObjectsMain(length='4')
  SectionMain(title='Производство', link='/' text='О производстве')
    VideoCard.main
  SectionMain(title='Новости', link='/' text='Все новости')    
    NewsCard
    NewsCard
    NewsCard
  SectionMain(title='Партнёрство')
    Partners
</template>

<script>
export default {
  layout: 'mainpage',
}
</script>
