<template lang="pug">
.page__content
  Breadcrumbs(:data='breadcrumbs')
  Headline(
    title='',
    :content='content',
    underline='Работа в компании «Стройэлемент»'
  )
  .container
    Section(title='Работа у нас — это')
      Advantages(:advantages='advantages')
    Section(title='Актуальные вакансии')
      AccordionJob
      AccordionJob
      AccordionJob
      AccordionJob
  .container.padding-top
    FormVacancies
</template>

<script>
export default {
  data() {
    return {
      content: [
        'Мы находимся в постоянном поиске лучших специалистов, знающих свое дело лучше нас и умеющих добиваться качественного результата.',
        'Мы находимся в постоянном поиске лучших специалистов, знающих свое дело лучше нас и умеющих добиваться качественного результата.',
      ],
      advantages: [
        {
          icon: '/01.svg',
          text: 'Свобода мыслей и действий',
        },
        {
          icon: '/02.svg',
          text: 'Команда опытных специалистов',
        },
        {
          icon: '/03.svg',
          text: 'Клиенты, которых знают все',
        },
        {
          icon: '/04.svg',
          text: 'Культура бескомпромиссного качества',
        },
        {
          icon: '/05.svg',
          text: 'Быстрый путь от идеи до реализации',
        },
        {
          icon: '/06.svg',
          text: 'Офис в центре города',
        },
      ],
    }
  },
  computed: {
    breadcrumbs() {
      let breadcrumbs = [
        {
          title: 'вакансии',
        },
      ]

      return breadcrumbs
    },
  },
}
</script>