<template lang='pug'>
section.section-main
  .container
    .section-main__header(v-if='title')
      h2.section-main__title {{ title }}      
  .container
    .section-main__body
      slot
  .container(v-if="text")
    .section-main__footer
      nuxt-link.section-main__link(:to='link') 
        | {{text}}
        svg-icon.section-main__icon(name="arrow-up-right")
</template>

<script>
export default {
  props: ['title', 'link', 'text'],
}

</script>

<style lang='scss' src='./section-main.scss'></style>