<template lang="pug">
.objects-slider
  .objects-slider__container(ref='container')
    .objects-slider__wrapper 
      .objects-slider__slide
        ObjectCard
      .objects-slider__slide
        ObjectCard
      .objects-slider__slide
        ObjectCard
      .objects-slider__slide
        ObjectCard
    .objects-slider__controls
      button(type='button' title='Предыдущий слайд' ref="prev").objects-slider__prev
        svg-icon.objects-slider__icon.prev(name='arrow')
      button(type='button' title='Следующий слайд' ref="next").objects-slider__next
        svg-icon.objects-slider__icon(name='arrow')
</template>

<script>
import Swiper, { Navigation } from 'swiper'
Swiper.use(Navigation)
export default {
  methods: {
    initObjectsSlider() {
      this.swiper = new Swiper(this.$refs.container, {
        wrapperClass: 'objects-slider__wrapper',
        slideClass: 'objects-slider__slide',
        slidesPerView: 'auto',
        navigation: {
          nextEl: this.$refs.next,
          prevEl: this.$refs.prev,
        },
      })
    },
  },
  mounted() {
    this.initObjectsSlider()
  },
}
</script>

<style src='./objects-slider.scss' lang="scss">
</style>