<template lang="pug">
.files-page
  .files-page__selects
    Select(:options='selects.docs' placeholder='Тип документа')
    Select(:options='selects.products' placeholder='Тип продукции')
  .files-page__list(v-if="selected")    
    FilesItem
    FilesItem
    FilesItem(type='guide')
  .files-page__items(v-if="!selected")   
    .files-page__item(v-for="file in files" :key="file.id")
      FileCard.is-big(:data='file')
</template>

<script>
export default {
  data() {
    return {
      selected: true,
      selects: { docs: ['zip', 'pdf', 'png'], products: ['1', '2', '3'] },
      files: [
        {
          name: "Технический каталог",
          type: "zip",
          size: '11,56 Мб',
          image: '/file-image-2.jpg'
        },
        {
          name: "Каталог цветов RAL",
          type: "pdf",
          size: '4,61 Мб',
          image: '/file-image-1.jpg'
        },
        {
          name: "Документ без обложки",
          type: "pdf",
          size: '5 Мб'
        },
        {
          name: "Документ без обложки",
          type: "png",
          size: '5 Мб'
        },
        {
          name: "Документ без обложки",
          type: "png",
          size: '5 Мб'
        },
        {
          name: "Документ без обложки",
          type: "png",
          size: '5 Мб'
        },
      ]
    }
  },
}
</script>

<style src='./files-page.scss' lang="scss">

</style>