<template lang='pug'>
.calculator
  .calculator__content
    h2.calculator__headline Калькулятор сэндвич-панелей
    .calculator__questions
      .calculator__head
        .calculator__number {{ number + 1 }}
        p.calculator__title {{ items[number].title }}
      .calculator__variants
        //- CalculatorItem(v-for='(input, index) in items[number].questions',
        //-   :key='index' :data='input')
        label.calculator__checkbox( :class='{"active": input.value == value}'
          v-for='(input, index) in items[number].questions',
          :key='index',
          @click='changeProduct',
          ref='label'
        )
          input.calculator__tag(
            type='radio',
            v-model='value',
            name='111',
            :value='input.value'            
          )
          .calculator__box
          span.calculator__span {{ input.text }}
    button.calculator__button(@click='nextQuestion') Продолжить
  img.calculator__image(:src='items[number].image')
</template>

<script>
export default {
  data() {
    return {
      number: 0,
      value: '',
      items: [
        {
          title: 'Вид кровли',
          image: '/question.png',
          questions: [
            {
              text: 'Плоская',
              name: 1,
              value: '123',
              checked: true,
            },
            {
              text: 'Односкатная',
              name: 1,
              value: '3212',
              checked: false,
            },
            {
              text: 'Двускатная',
              name: 1,
              value: '3223',
              checked: false,
            },
          ],
        },
        {
          title: 'Вид кровли',
          image: '/question.png',
          questions: [
            {
              text: 'Плоская2',
              name: 2,
              value: '123',
              checked: true,
            },
            {
              text: 'Односкатная2',
              name: 2,
              value: '3212',
              checked: false,
            },
            {
              text: 'Двускатная2',
              name: 2,
              value: '3223',
              checked: false,
            },
          ],
        },
        {
          title: 'Вид кровли',
          image: '/question.png',
          questions: [
            {
              text: 'Плоская3',
              name: 3,
              value: '123',
              checked: true,
            },
            {
              text: 'Односкатная3',
              name: 3,
              value: '3212',
              checked: false,
            },
            {
              text: 'Двускатная3',
              name: 3,
              value: '3223',
              checked: false,
            },
          ],
        },
      ],
    }
  },
  methods: {
    changeProduct(e) {
     
      // this.$emit('change', this.$refs.label)
      // this.$emit('input', e.target.checked)
    },
    nextQuestion() {
      // if (this.value === '') {
      //   alert('dasasddas')
      // }  
        
      if (this.number + 1 < this.items.length) {
        let array = this.items[this.number].answers
        let answers = []
        console.log(array)

        let values = 0
        for (const key in array) {
          if (array[key].value === true) {
            this.values = values++
            answers.push(array[key].id)
          }
        }

        if (values >= 1) {
          this.number++
        }
      } else {
        console.log(123)
        // this.$modal.show(
        //   QuizModal,
        //   { items: this.items },
        //   { height: 'auto', width: '761', scrollable: true, adaptive: true }
        // )
      }
    },
  },
}
</script>



<style lang='scss' src='./calculator.scss'>
</style>