.calculator {
  $this: &;
  padding: 48px 40px;
  background-color: $color-grey-100;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $m) {
    padding: 40px 32px;
  }
  @media (max-width: $s) {
    padding: 32px 24px;
    flex-direction: column;
  }
  @media (max-width: $xss) {
    padding: 24px 16px;
  }

  &__image {
    @media (max-width: $s) {
      display: none;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    @media (max-width: $s) {
      width: 100%;
    }
  }

  &__headline {
    color: $color-grey-900;
    @include fontSize(32, 40);
    font-weight: 600;
    margin-bottom: 40px;

    @media (max-width: $m) {
      @include fontSize(28, 32);
      margin-bottom: 32px;
    }
    @media (max-width: $s) {
      @include fontSize(24, 32);
      margin-bottom: 24px;
    }
    @media (max-width: $xss) {
      @include fontSize(20, 24);
    }
  }

  &__button {
    width: 256px;
    background-color: $color-blue-700;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $color-grey-0;
    @include fontSize(18, 24);
    font-weight: 500;
    margin-top: 48px;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: $color-blue-900;
    }

    @media (max-width: $m) {
      margin-top: 40px;
    }
    @media (max-width: $s) {
      width: 100%;
      margin-top: 32px;
    }
  }

  &__variants {
    display: flex;
    flex-direction: column;
    width: 528px;
    margin-top: 32px;

    @media (max-width: $m) {
      width: 446px;
    }
    @media (max-width: $s) {
      width: 100%;
      margin-top: 24px;
    }
  }

  &__head {
    display: flex;
    align-items: center;
  }

  &__number {
    width: 48px;
    height: 48px;
    border-radius: 24px;
    background-color: $color-blue-700;
    color: $color-grey-0;
    @include fontSize(24, 32);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
  }

  &__title {
    color: $color-grey-900;
    @include fontSize(18, 24);
    font-weight: 500;
  }

  &__checkbox {
    display: flex;
    background-color: $color-grey-0;
    padding: 24px;
    cursor: pointer;
    border: 1px solid $color-grey-300;
    

    &.active {
      border: 2px solid $color-blue-700;
      padding: 23px;
    }   

    & + & {
      margin-top: 8px;
    }
  }

  &__box {
    transition: background 0.3s ease, border 0.3s ease;
    width: 24px;
    height: 24px;
    border: 1px solid $color-grey-300;
    background-color: $color-grey-100 !important;
    border-radius: 12px;
    position: relative;
  }

  &:hover .calculator__box {
    border-color: $color-grey-400;
  }
  &__tag {
    &:checked {
      + .calculator__box {
        background-color: $color-grey-100;
        border: 1px solid $color-grey-300;
        &::before {
          content: '';
          width: 12px;
          height: 12px;
          position: absolute;
          background-color: $color-blue-700;
          border-radius: 12px;
          top: 5px;
          left: 5px;
        }
      }
    }

    &:disabled {
      + .calculator__box {
        filter: grayscale(1);
        cursor: not-allowed;
      }
    }
  }

  &__span {
    color: $color-grey-900;
    @include fontSize(18, 24);
    font-weight: 400;
    user-select: none;
    margin-left: 16px;
  }
}


.quiz {
  margin-top: 123px;
  position: relative;
  padding-bottom: 100px;
  &__checkbox {
    cursor: pointer;
  }
  &__header {
    font-weight: bold;
    font-size: 28px;
    line-height: 1.17;
    text-transform: uppercase;
    color: black;
    margin: 0;
    margin-bottom: 85px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.16;
    color: black;
    margin: 0;
    margin-bottom: 14px;
    margin-top: 10px;
  }

  &__questions {
    width: 40%;
  }

  &__images {
    position: relative;
    width: 60%;
    display: flex;
  }

  &__question {
    font-weight: 300;
    font-size: 18px;
    line-height: 1.16;
    color: black;
    margin: 0;
    margin-bottom: 22px;
  }

  &__variants {
    margin-bottom: 58px;
    display: flex;
  }

  &__checkbox {
    display: flex;
    align-items: center;
    margin-right: 30px;
  }

  &__input {
    opacity: 0;
    z-index: 3;
  }

  &__span {
    font-weight: 300;
    padding-top: 1px;
    font-size: 12px;
    line-height: 1.16;
    color: grey;
    margin-left: 16px;
    position: relative;
    display: block;

    &::before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      position: absolute;
      top: -1px;
      left: -34px;
      background-color: transparent;
      border: 2px solid #333333;
      z-index: 2;
    }

    &::after {
      content: '';
      display: block;
      width: 14px;
      height: 14px;
      position: absolute;
      top: 0;
      left: -34px;
      background-color: green;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0;
      transition: opacity ease 300ms;
      z-index: 1;
    }
  }

  &__input:checked + &__span {
    color: black;
    background-color: red;
  }
  &__input:checked  {
    & .quiz__checkbox {
      background-color: red;
    }
  }

  &__input:checked + &__span::after {
    opacity: 1;
  }

  &__cover {
    width: 379px; 
    height: 256px;
    margin-left: 0;
    &+& {
      margin-left: 20px;
    }

    // &:nth-last-child(1) {
    //   position: absolute;
    //   right: 200px;
    // }
  }

  &__img {
    width: 100%;
    height: 100%;
    display: flex;
    object-fit: cover;
  }

  &__background {
    position: absolute;
    top: 35px;
    right: 0;
    z-index: -1;
  }

  @media (max-width: $m) {
    &__container {
      flex-direction: column;
    }

    &__questions {
      margin-bottom: 100px;
    }

    &__background {
      position: absolute;
      top: unset;
      bottom: 40px;
      right: 0;
    }
  }

  @media (max-width: $s) {
    padding-bottom: 70px;

    &__header {
      margin-bottom: 30px;
    }

    &__variants {
      flex-direction: column;
      margin-bottom: 0;
    }

    &__checkbox {
      margin-right: 0;
      margin-bottom: 30px;
    }

    &__images {
      display: flex;
      width: 100%;
    }

    &__img {
      margin-right: 8px;
      width: 48%;
    }
  }
}

