<template lang="pug">
  nuxt-link.object-card(to='/objects/slug')
    img.object-card__background(src='/object-card.png')
    .object-card__background-color
    svg-icon.object-card__icon(name="arrow-up-right")
    .object-card__container
      p.object-card__name Производственный комплекс IKEA
      p.object-card__text.visible Hyundai Motor Manufacturing Rus – российский завод компании Hyundai Motor. ХММР – завод с полным производственным циклом, технологический процесс предприятия включает в себя штамповку крупных кузовных панелей, сварку, окраску кузова и сборку готового автомобиля.
    .object-card__bottom 
      p.object-card__text.bold Санкт-Петербург
      p.object-card__text.bold 36 500 м²      
</template>

<style src='./object-card.scss' lang="scss">

</style>