.dropdown-menu {
  padding: 36px;
  background-color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 96px);
    

  @media (max-width: $s) {
    padding: 24px;

    height: calc(100vh - 64px);
  }

  @media (max-width: $xs) {
    padding: 16px;
  }

  .dropdown-menu__items {
    display: none;
    @media (max-width: $s) {
      display: block;
    }
  }

  &__item {
    display: flex;

    padding-top: 24px;
    & + & {
      padding-bottom: 8px;
      border-top: 1px solid $color-grey-200;
    }

    @media (max-width: $s) {
      display: none;
    }
  }

  &__title {
    display: flex;
    width: 206px !important;
    margin-right: 36px;
    color: $color-grey-500;
    @include fontSize(16, 24);
    font-weight: 500;
  }

  &__links {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
  }

  &__link {
    color: $color-grey-900;
    @include fontSize(16, 24);
    font-weight: 500;
    margin-right: 24px;
    margin-bottom: 16px;

    &:hover {
      color: $color-blue-700;
    }
  }

  &__footer {
    padding-top: 48px;
    display: flex;
    justify-content: space-between;

    @media (max-width: 484px) {
      flex-direction: column;
    }
  }

  &__socials {
    @media (max-width: 484px) {
      margin-bottom: 24px;
    }
  }
}
