<template lang="pug">
.services
  .services__item
    ServiceCard
  .services__item
    ServiceCard
  .services__item
    ServiceCard
  .services__item
    ServiceCard  
</template>

<style src='./services.scss' lang="scss">

</style>