.dropdow-header {
  & + & {
    border-top: 1px solid $color-grey-200;
  }

  &__head {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
  }

  &__title {
    @include fontSize(14, 16);
    font-weight: 500;
    color: $color-grey-500;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;    
  }

  &__icon-shevron {
    width: 1.4rem;
    height: 1.4rem;

    &.back {
      width: 24px;
      height: 24px;
      stroke: $color-grey-500;
      stroke-width: 2;
      stroke-linecap: square;
      
    }
  }

  &__title-grey {
    @include fontSize(16, 24);
    font-weight: 500;
    color: $color-grey-500;
    margin-left: 16px;
  }


  &__link {
    color: $color-grey-900;
    @include fontSize(16, 24);
    font-weight: 500;
    padding: 16px 0;

    

    &+& {
      border-top: 1px solid $color-grey-200;
    }
  }

  &__slidemenu {
    width: 100%;
    padding: 24px;
    position: fixed;
    top: 64px;
    // top: 93px;
    right: 0;
    z-index: 99;
    background-color: $color-white;
    transform: translateX(150%);
    transition: ease transform 0.3s;
    justify-content: flex-start;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    &.is-active {
      transform: translateX(0);
      height: 100vh;
    }

    @media (max-width: $xs) {
      padding: 16px;
    }
  }

  &__headline {
    display: flex;
    align-items: center;
    
    padding: 8px 0;
  }
}