.services-slider {
  position: relative; 
  margin-top: 16px;

  &:hover {
    & .services-slider__controls {
      opacity: 1;
    }
  }

  &__wrapper {
    display: flex;
  }

  &__slide {
    width: 464px;
    flex-shrink: 0;
    & + & {
      margin-left: 48px;

      @media (max-width: $m) {
        margin-left: 32px;
      }
      @media (max-width: $s) {
        margin-left: 24px;
      }
      @media (max-width: $xss) {
        margin-left: 16px;
      }
    }

    @media (max-width: $l) {
      width: 392px;
    }
    @media (max-width: $m) {
      width: 328px;
    }
    @media (max-width: $s) {
      width: 316px;
    }
    @media (max-width: $xss) {
      width: 272px;
    }
    @media (max-width: $xs) {
      width: 288px;
    }
  }

  &__controls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(100% + 320px);
    top: calc(50% - 40px);
    left: -160px;  
    opacity: 0;
    transition: opacity 0.3s ease; 
    pointer-events: none;
  }

  &__next,
  &__prev {
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 8rem;
    padding: 0;
    background-color: $color-grey-0;
    box-shadow: 0px 0px 12px rgba(18, 22, 26, 0.24);
    bottom: 48px;
    left: 48px;
    z-index: 20;
    outline: none;
    opacity: 1;
    pointer-events: all;

    &:hover {
      & .services-slider__icon {
        fill: $color-blue-900;
      }
    }

    &.swiper-button-disabled {
      opacity: 0;
      pointer-events: none;
    }
  }

  &__icon {
    width: 2.2rem;
    height: 1.2rem;
    fill: $color-grey-900;

    &.prev {
      transform: rotateY(180deg);
    }
  }

  
}